<div class="botContainer">
    <table>
        <thead>
        <tr>
            <th>PositionId</th><th>status</th><th>signalTime</th>
            <th>amount</th>
            <th>wEntry</th><th>initSL</th><th>entryTime</th>
            <th>entry</th><th>stop</th><th>worst</th><th>Risk</th>
        </tr>
        </thead>
        <tbody id="positions">
        {{#each this}}
        <tr class="head">
            <td>{{id}}</td>
            <td></td>
            <td>{{formatTime last_tick_tstamp}}</td>
            <td>{{totalPos}}</td>
            <td>{{equity}}</td>
            <td style="font-weight:normal">{{max_equity}}</td>
            <td>{{drawdown}} {{uwdays}} d</td>
            <td></td>
            <td></td>
            <td>{{formatResult totalWorstCase}}</td>
            <td> R={{risk_reference}}</td>
        </tr>
        {{#each positions}}
        <tr class="{{classFromPosition this}}">
            <td>{{id}}</td>
            <td style="text-align:center">{{status}}</td>
            <td>{{formatTime signal_tstamp}}</td>
            <td>{{amount}}</td>
            <td>{{formatPrice wanted_entry}}</td>
            <td>{{formatPrice initial_stop}}</td>
            <td>{{formatTime entry_tstamp}}</td>
            <td>{{formatPrice filled_entry}}</td>
            <td>{{formatPrice currentStop}}</td>
            <td id="result">{{formatResult worstCase}}</td>
            <td>{{formatPrice initialRisk}}</td>
        </tr>
        {{/each}}
        {{/each}}
        </tbody>
    </table>
</div>