<div class="botContainer">
    <p><b>{{id}}</b> R={{risk_reference}}  last tick={{last_tick}}</p>
    <p><b>{{equity}} / {{max_equity}}</b></p>
    <p>{{drawdown}} underwater since {{uwdays}} days</p>
    <p><b>{{totalPos}}</b></p>
    <table>
        <thead>
        <tr>
            <th>PositionId</th><th>status</th><th>signalTime</th>
            <th>amount</th>
            <th>wantedEntry</th><th>initialSL</th><th>entryTime</th>
            <th>entry</th><th>stop</th><th>worstCase</th><th>initialRisk</th>
        </tr>
        </thead>
        <tbody id="positions">
        {{#each positions}}
        <tr class="{{classFromPosition this}}">
            <td>{{id}}</td>
            <td style="text-align:center">{{status}}</td>
            <td>{{formatTime signal_tstamp}}</td>
            <td>{{amount}}</td>
            <td>{{formatPrice wanted_entry}}</td>
            <td>{{formatPrice initial_stop}}</td>
            <td>{{formatTime entry_tstamp}}</td>
            <td>{{formatPrice filled_entry}}</td>
            <td>{{formatPrice currentStop}}</td>
            <td id="result">{{formatResult worstCase}}</td>
            <td>{{formatPrice initialRisk}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>